# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# Next.js build
.next/
out/

# production
/build

# Sistema operativo
.DS_Store
Thumbs.db
*.pem

# vercel
.vercel

# Archivos de entorno
.env
.env*
.env.local
.env.development.local
.env.test.local
.env.production.local

# typescript
*.tsbuildinfo
next-env.d.ts

# dist
/dist

# vscode
.vscode/settings.json

certificates
/src/generated/prisma

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDEs
.idea/
*.iml

# Cache
.cache/
.parcel-cache/
turbo/

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Build artefacts
*.local

/public/sw.js
/public/workbox-*.js
